[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_party/xz"]
	path = third_party/xz
	url = git@github.com:tukaani-project/xz.git
[submodule "third_party/libarchive"]
	path = third_party/libarchive
	url = https://github.com/libarchive/libarchive.git
